* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/73873/star-clusters-rosette-nebula-star-galaxies-73873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  background: black;
  border: 2px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  padding: 0;
  text-align: center;
  width: 54px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-image {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.square:hover {
  background: #5a1a1a;
}

.board-row {
  display: flex;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(250, 250, 5);
}

.game {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.game-info {
  min-width: 150px;
  color: rgb(247, 247, 4);
}

.game-info button {
  margin: 4px 0;
  padding: 4px 8px;
  cursor: pointer;
  color:rgb(247, 247, 4);
  border-radius: 5px;
}

.game-info button:hover {
  background: #5a1a1a;
}